// https://www.sitepoint.com/dealing-color-schemes-sass/

@mixin theme($name, $color) {
  // Define colors in your theme
  $primary: $color;
  $secondary: lighten(adjust-hue($color, 20), 10%);
  // Add your classes with css colors added
  .#{$name} {
    .element {
      color: $primary;
    }
    .other-element {
      background: $secondary;
    }
  }
}

// colors
$black: #000000;
$blue-black: #1b1442;
$gray-1: #f4f4f9;
$gray-8: #33424d;
$gray-9: #1c2d39;
$gray-10: #05121c;
$white: #ffffff;

$themekey: green;

$color-default: $blue-black;
