@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin links {
  text-decoration: none;
  color: $black;
}

@mixin serif {
  font-family: "Lora";

  em {
    font-family: "Lora Italic";
  }
}

@mixin test {
  display: none;
}

@mixin smallText {
  font-family: $caption;
}

@mixin smallCaps {
  font-family: $font-caption;
  @include font-size($font-small);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
