@import "~rfs/scss";
$font-sans: 'Source Sans Pro',
Arial,
sans-serif;
$font-serif: 'Cormorant Garamond',
Georgia,
serif;

$font-display: $font-serif;
$font-metadata: $font-sans;
$font-caption: $font-sans;
$font-default: $font-sans;
$font-emphasis: 'Old Standard TT';

@mixin font-reset {
  font-family: $font-sans;
  @include rfs(1rem);
}

@mixin caption {
  font-family: $font-caption;
  @include rfs(.8rem);
  text-transform: uppercase;
  letter-spacing: .03rem;
  font-weight: 700;
}

@mixin display {
  font-family: $font-display;
  @include rfs(4.2rem);
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05rem;
  line-height: .8;
}
