@custom-media --viewport-medium (width <= 100rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --mainColor: green;
}

@media (--viewport-medium) {
  body {
    color: var(--mainColor);
    font-family: system-ui;
    font-size: rfs(3rem);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    padding-inline: calc((var(--fontSize) / 2) + 1px);
  }
}

:--heading {
  margin-block: 0;
}

a {
  color: rebeccapurple;

  &:hover {
    color: color-mod(var(--mainColor) b(15%) a(20%));
  }
}
