// contains style sheet for artwork nodes
.js .lazyloaded {
  transition: opacity 700ms !important;
}

.exhibition__artwork {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
}

.exhibition__artwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after {
    content: "";
    flex: auto;
  }
}

.artwork-image__inner {
  padding: 3rem;
  background: #efefef;
  border: 1px solid $white;
  width: 100%;
  height: auto;
  display: block;
}

.artwork__wrapper {
  height: auto;
  width: calc(50% - 3rem);
  display: flex;
  flex-direction: column;
  position: relative;
}

.artwork-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 100%;
  padding-bottom: 121.3%; /* 9/16 = aspect ratio of image */
  position: relative;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  line-height: 0;
}

.artwork-metadata {
  background: white;
  padding: 1rem;
  font-family: Arial;
  .field {
    font-size: 18px !important;
  }
}
