<section class="artist__header flex">
	<div class="artist__portrait image-portrait">
		{{ portrait }}
	</div>

	<div class="artist__title flex">
		<div class="artist__type">
			<a href="/artists" class="breadcrumb">Artists</a>
		</div>
		<h1 class="name">
			{{ title }}
		</h1>
		<div class="more">
			<a href="#block-ow-content">more</a>
		</div>
	</div>

</section>

<div class="artist__narrative flex">
	<article class="artist__bio">
		{{ bio }}
	</article>
	<section class="artist__links">
		{{ links }}
	</section>
</div>
