<div class="exhibition__header">
	<h1 class="exhibition__title">{{ title }}</h1>
	<h2 class="exhibition__artists">{{ artists }}</h2>
	<div class="exhibition__dates">{{ dates }}</div>
	<div class="exhibition__artworks">{{ artwork }}</div>

</div>
