.exhibition__marquee img {
  width: 100%;
}

.exhibition__metadata {
  margin: 0 1rem;
  border: 1px solid white;
}

.now .exhibition__metadata {
}

.intro {
  @include smallCaps;
  padding-bottom: 1rem;
}
