{# <div class="exhibition__wrapper">
	<div class="exhibition__header">
		<h1 class="exhibition__title">{{ title }}</h1>
		<div class="exhibition__artists">{{ artists }}</div>
		<div class="exhibition__dates">{{ dates }}</div>
	</div>

</div></div> #}


<div class="exhibition__artwork">
	{{ artwork }}
</div>
