// .main-menu a {
//   @include links;
// }

.region__header {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.region__header a {
  @include links;
  @include smallCaps;
}
